<!-- <> -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="style.css">

    <title>La dictadura desde 1976 / 2016</title>
</head>

<body>

    <div class="tabs">

        <input type="radio" name="tabs" id="tabone" checked="checked">
        <label for="tabone">Info Proyecto</label>
        <div class="tab">
            <h1>Introduccion</h1>
            <p>El estudio analiza cómo los medios han tratado la fecha del 24 de Marzo en Argentina, cuando comenzó la última dictadura. 
                Se explora cómo los discursos mediáticos influyen en la memoria colectiva y en la percepción de este evento con el tiempo. 
                El objetivo es entender cómo los medios moldean opiniones y cómo cambia la representación del 24 de Marzo en el diario elegido.</p>
        </div>
    
        <input type="radio" name="tabs" id="tabtwo">
        <label for="tabtwo">Referencias</label>
        <div class="tab">
            <h1>Nuestra referencia</h1>
            <p>Tuvimos como referencia para realizar esta investigacion:</p>
            <ul>
                <li>Gente que vivo en la epoca</li>
                <li>Estadisticas</li>
                <li>Una tesis</li>
            </ul>
        </div>
    
        <input type="radio" name="tabs" id="tabthree">
        <label for="tabthree">Grupo</label>
        <div class="tab">
            <h1>Integrantes:</h1>
            <ul>
                <li>Santino cattaneo</li>
                <li>Cristian paz</li>
                <li>Enzo porras</li>
            </ul>
            <h1>Nombre del proyecto:</h1>
            <p>La dictadura desde 1976 - 2016</p>
        </div>
    </div>
</body>

</html>